.selector {
    padding: 10px;
    width: 100%;
}

.player {
    width: 100%;
}

.wrapper {
    display: flex;
    min-height: 70vh;
}

#youtube-player {
    flex-grow: 1;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        min-height: 30vh;
    }
}